services:
  auto_planka:
    build:
      context: .
# for development, uncomment this line and run docker compose run /bin/sh
#      dockerfile: Dockerfile.dev
    container_name: auto_planka
    restart: unless-stopped
    volumes:
      - ./app:/app
      - ./config:/config
    environment:
      - POSTGRESQL=${POSTGRESQL}
    env_file:
      - .env
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

networks:
  default:
    name: postgres-net
    external: true
